# IntelliJ IDEA
.idea
.idea/*
/.idea/
/.idea
/.idea/*
*.iws
*.iml
*.ipr

# Gradle
.gradle
.gradle/
.gradle/*
/.gradle
/.gradle/
/.gradle/*
/*/.gradle
/*/.gradle/
/*/.gradle/*
api/.gradle/
api/.gradle/*
/build/
/build/*
/api/build/
/api/build/*
**/build/
!gradle/wrapper/gradle-wrapper.jar
/gradle/
/gradle/*
/out/
/out/*
/gradlew.bat
*.bat
!gradle-wrapper.properties

# Kotlin
*.class
*.kt.user
/*/*.class
/*/*.kt.user
.kotlin
.kotlin/*
/.kotlin
/.kotlin/*
/*/.kotlin/
/*/.kotlin/*

# Kotlin Notebook
*.knb

# Ktor
application.log

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Logs
/logs/
/logs/*
*.log

# Directories for IDEs
.vscode/
.vscode-workspace/

# Operating System files
._*
.Spotlight-V100
.Trashes
